{% extends "EpicPro/base.html" %}

{% load static %}

{% block content %}

   <!-- Heading -->

  <section class="page-section clearfix">
    <div class="container">
      <div class="intro">
         <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static 'EpicPro/img/guias.jpg' %}" alt="">
        <div class="intro-text left-0 text-center bg-faded p-5 rounded">
          <h2 class="section-heading mb-4" >
            <span class="section-heading-lower">Guias</span>
          </h2>
          <p class="mb-3">Aqui encuentra tus guias bien explicitas de tus juegos favoritos, encontraras datos, pasos a seguir de los juegos, niveles secretos y todo lo que necesitas para poder avanzar en tu juego favorito.</p>
         
        </div>      
      </div>
    </div>
    
  </section>
  <section class="page-section clearfix">
    <div class="container">
      <div class="intro">
         <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static 'EpicPro/img/foro.jpg' %}" alt="">
        <div class="intro-text left-0 text-center bg-faded p-5 rounded">
          <h2 class="section-heading mb-4" >
            <span class="section-heading-lower">Foros</span>
          </h2>
          <p class="mb-3">En el foro de ayuda podras comentar junto a otros jugadores lo que necesites de los juegos, te daran consejos en caso de que te encuentres estancado y tendras informacion de todo tipo de juegos, plataformas y sistemas operativos.</p>
         
        </div>      
      </div>
    </div>
    
  </section>

  <section class="page-section clearfix">
    <div class="container">
      <div class="intro">
         <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static 'EpicPro/img/cotiza.jpg' %}" alt="">
        <div class="intro-text left-0 text-center bg-faded p-5 rounded">
          <h2 class="section-heading mb-4" >
            <span class="section-heading-lower">Cotizar juegos</span>
          </h2>
          <p class="mb-3">Encuentra tus juegos a precios que nunca veras, podras consultar por el valor de ellos, las fechas de estrenos de estos y asi tendras una idea de cuanto valdria el juego que tanto quieres.</p>
         
        </div>      
      </div>
    </div>
    
  </section>

  <section class="page-section clearfix">
    <div class="container">
      <div class="intro">
         <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static 'EpicPro/img/playmod.png' %}" alt="">
        <div class="intro-text left-0 text-center bg-faded p-5 rounded">
          <h2 class="section-heading mb-4" >
            <span class="section-heading-lower">Mods</span>
          </h2>
          <p class="mb-3">Encuentra y sube tus mods, contenido adicional creado por ti o por la comunidad para tus juegos favoritos, encuentra las ultimas actualizaciones disponibles.</p>
         
        </div>      
      </div>
    </div>
    
  </section>

    <!-- Message -->
    <section class="page-section cta">
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <div class="cta-inner text-center rounded">
              <h2 class="section-heading mb-4">
                <span class="section-heading-lower">¿Cuáles son nuestros planes futuros?</span>
              </h2>
              <p class="mb-0">Encontrarás información sobre futuras características, actualizaciones de desarrolladores y los principales asuntos conocidos en nuestro foro de  Epic Brothers. También compartiremos actualizaciones significativas con los jugadores en nuestro canal de noticias y en páginas de redes sociales como Facebook, Twitter, Instagram y YouTube. </p>
            </div>
          </div>
        </div>
      </div>
    </section>

{% endblock %}