{% extends "EpicPro/base.html" %}

{% load static %}

{% block content %}
{% load humanize %}

<div>
    {% for p in juegos %}
    <section class="page-section clearfix">
        
        <div class="container">
        <div class="intro">
            {% if p.imagen %}
            <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{{ p.imagen.url }}" alt="imagen juego">
            {% endif %}
            <div class="intro-text left-0 text-center bg-faded p-5 rounded">
            <h2 class="section-heading mb-4" >
                <span class="section-heading-lower"></span>
            </h2>
            <p class="mb-3">
            <h2> Codigo: {{ p.codigo | capfirst }}</h2>
            <h2> Nombre: {{ p.nombre | title }}</h2>
            <h2> Precio: ${{ p.precio | intcomma }}</h2>
            </p>
            
            </div>      
        </div>
        </div>
        
    </section>
    {% endfor %}
    {% endblock %}
</div>