{% extends "EpicPro/base.html" %}

{% load static %}

{% block content %}

<html lang="es">
  <head>
        <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'EpicPro/vendor/bootstrap/css/bootstrap.min.css' %}"> 
    <link rel="stylesheet" href="{% static 'EpicPro/css/Estilos.css' %} ">
    <link rel="stylesheet" href="{% static 'EpicPro/css/gestion.css' %} ">
    <title>Mods</title>

  </head>
  <body>
    

      <div class="img">
        <h1>En costruccion </h1>
        <img src="{% static 'EpicPro/img/guias.jpg' %} " alt="Recolectando datos">
        <p>Resolviendo las mejores guias para ti</p>
      </div>


  </body>
</html>







{% endblock %}
